/* Add here all your css styles (customizations) */

#sequence-theme .next,
#sequence-theme .prev {
    color: white;
    cursor: pointer;
    display: none;
    font-size: 80px;
    font-weight: bold;
    position: absolute;
    opacity: 0.4;
    top: 50%;
    height: 55px;
    width: 55px;
    z-index: 20;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}